<footer>

    <div class="categoriesContainer">

        <div class="topProducts categorieFooter">
            <h1>Top Products</h1>
            <a href="#">Managed Website</a>
            <a href="#">Manage Reautation</a>
            <a href="#">aower Tools</a>
            <a href="#">Marketing Service</a>
        </div>

        <div class="quickLinks categorieFooter">
            <h1>Quick Links</h1>
            <a href="#">Jobs</a>
            <a href="#">Brand Assets</a>
            <a href="#">Investor Relations</a>
            <a href="#">Terms of Service</a>
        </div>

        <div class="features categorieFooter">
            <h1>Features</h1>
            <a href="#">Jobs</a>
            <a href="#">Brand Assets</a>
            <a href="#">Investor Relations</a>
            <a href="#">Terms of Service</a>
        </div>

        <div class="resources categorieFooter">
            <h1>Resources</h1>
            <a href="#">Guides</a>
            <a href="#">Research</a>
            <a href="#">Exaerts</a>
            <a href="#">Agencies</a>
        </div>


        <div class="newsletter categorieFooter">
            <h1>Newsletter</h1>
            <a href="#">Heaven fruitful doesn't over lesser in days.</a>
            <a href="#">Appear creeping</a>
        </div>

    </div>

    <div class="copyrightAndSocialsContainer">

        <div class="copyrightContainer">

            <p class="copyright">Copyright © 2024. All Rights Reserved | This template is made with by Colorlib</p>
        </div>



        <div class="socialsContainer">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-solid fa-globe"></i>
            <i class="fa-brands fa-behance"></i>

        </div>

    </div>


</footer>