

<header>
  <div>
    <a href="/" class="webName">Aronz.</a>
  </div>
  <nav>
    <a href="/">Home</a>
    <a href="/contact">Contact</a>
    <a href="/about">About</a>
    <a href="/products/pageIndex=1">products</a>
    <a href="/registration">Register</a>
    <a href="/login">Login</a>
  </nav>

  <div class="iconContainer">
    <i class="fa-solid fa-magnifying-glass"></i>
    <i class="fa-regular fa-heart"></i>
    <i class="fa-solid fa-cart-plus"></i>
  </div>
</header>