$primary-color: #FF204B;
$secondary-color: rgb(241, 240, 240);
$hover-background-color: white;
$hover-text-color: $primary-color;
$input-border-color: rgb(87, 86, 86);
$button-background-color: #ff3368;
$text-color: $input-border-color;
$error: red;