<h1>Contact Page</h1>

<iframe 
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d372.24764132601115!2d44.774483552069455!3d41.72092601909216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x404473cf595b6d79%3A0x81cbabea677fc290!2sTechnical%20University!5e0!3m2!1sen!2sge!4v1718112279564!5m2!1sen!2sge" 
    width="600" 
    height="450" 
    style="border:0;" 
    allowfullscreen="" 
    loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade"
>
</iframe>