<section class="section1">
    <div class="createAccContainer">
        <h2>New to our Shop?</h2>
        <p>There are advances being made in science and technology everyday, and a good example of this is the</p>
        <a href="/registration">CREATE AN ACCOUNT</a>
    </div>
    <div class="loginContainer">
        <h3>Welcome Back! <br> Please Sign in now</h3>
        <form action="">
            <input type="text" placeholder="Username" id="Username">
            <input type="password" placeholder="password" id="password">
            <div class="chekbox">     
                <input type="checkbox" id="chekbox">
                <p>Remember me</p>
            </div>
            <button id="loginBtn">LOG IN</button>
            <a href="/registration">Forget Password?</a>
        </form>
    </div>
</section>