<div class="registerContainer">
    <div class="login">
        <h2>already been to our Shop?</h2>
        <p>There are advances being made in science and technology everyday, and a good example of this is the</p>
        <a class="loginBtn" href="/login">Login</a>
    </div>
    <div class="registration">
        <h3>Welcome Back! <br> Please Register now</h3>
        <form action="">
            <input type="text" placeholder="Name" id="name">
            <p></p>
            <input type="text" placeholder="Username" id="username">
            <p></p>
            <input type="text" placeholder="Email" id="email">
            <p id="emailErrorP"></p>
            <input type="password" placeholder="New Password" id="password" >
            <p id="passwordErrorP"></p>
            <input type="password" placeholder="New Password" id="repeatPassword">
            <p id="confirmPasswordErrorP"></p>
            <button id="registerBtn">Register</button>
        </form>
    </div>
    </div>
</div>